{% extends 'base.html'%}
{% block title %}Edit Post {% endblock %}

{% block content %}
<h2 class="h2 mb-2">Edit a Tag</h2>
<section id='form content' class="container text-left">
    <div class="row justify-content-center">
        <form action="/tags/{{tag.id}}/edit" method="POST" class='col-6 col-lg-4 py-3'>
            <div class="form-group">
                <label for="name">{{tag.name}}</label>
                <input type="text" id='name' name='name' placeholder='{{tag.name}}' class="form-control" required>
            </div>
            {% if all_posts %}
            <div class="form-group">
                {% for post in all_posts %}
                {% if post in tag.posts %}
                <div class="checkbox">
                    <label for="{{post.title}}"><input type="checkbox" name='posts' id='{{post.title}}' value='{{post.id}}' checked> {{post.title}}</label>
                </div>
                {% else %}
                <div class="checkbox">
                    <label for="{{post.title}}"><input type="checkbox" name='posts' id='{{post.title}}' value='{{post.id}}'> {{post.title}}</label>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-group text-right">
                <a class="btn btn-outline-info" href='/tags'>Cancel</a>
                <button class="btn btn-success" type='submit'>Edit</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}