{% extends 'base.html' %}

{% block title%}Blogly{% endblock %}

{% block content%}

<!-- TODO List 5 most recent blog posts with created by and time created  -->

{% if posts %}
<section class="container">
        <h2 class="display-2 mb-3 text-underline">Recent Posts</h2>
        {% for post in posts %}
                <div class="container mb-4">
                        <h2 class='h2'>{{post.title}}</h2>
                        <p class='my-2'>{{post.content}}</p>
                </div>
        {% endfor %}
        {% endif %}
</section>


{% endblock %}