{% extends 'base.html' %}

{% block title %}{{tag.name}}{% endblock %}

{% block content %}

<h2 class="h2">Tag: <em>{{tag.name}}</em></h2>
{% if tag.posts %}
<h4 class='h4 text-secondary mt-5 mb-0'>Posts</h4>
<div class="container mb-3">
    <div class="row justify-content-center">
        <ul class='list-group col-4 my-3'>
            {% for post in tag.posts %}
            <li class="list-group-item"><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<form action="/tags/{{tag.id}}/delete" method='POST'>
    <a href="/tags/{{tag.id}}/edit" class="btn btn-primary text-white">Edit</a>
    <input type='submit' class="btn btn-danger text-white" value='Delete'>
</form>

{% endblock %}