{% extends 'base.html' %}

{% block title %} {{user.first_name}} {% endblock %}

{% block content %}

<section class='container'>
    <div class="row text-left">
        <img src="{{user.image_url}}" alt="user image" class='col-4'>
        <form class="col-6" action='/users/{{user.id}}/delete' method='POST'>
            <h3 class="h3">{{user.get_full_name()}}</h3>
            <a class="btn btn-primary my-2 text-white" href='/users/{{user.id}}/edit'>Edit</a>
            <input type='submit' class="btn btn-danger my-2 text-white" value='Delete'></input>
            <div class="posts">
                <h3 class="h3">Posts</h3>
                {% if user.posts %}
                <ul class="list-group mb-2">
                    {% for post in user.posts %}
                    <li class="list-group-item"><a href="/posts/{{post.id}}"> {{post.title}} </a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <a class="btn btn-primary text-white" href='/users/{{user.id}}/posts/new'>Add Post</a>
                <a href="/users" class="btn btn-outline-info">Back</a>

                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                {% if category == 'Success' %}
                <div class="{{category}} container bg-success text-center my-3 rounded">
                    <p class="text-dark h4 py-2">{{message}}</p>
                </div>
                {% else %}
                <div class="{{category}} container bg-danger text-center my-3 rounded">
                    <p class="text-dark h4 py-2">{{message}}</p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>    
</section>



{% endblock %}